<?php

namespace {{ ns }};

use Rhubarb\Leaf\Leaves\Leaf;

class {{ class }} extends Leaf
{
    /** @var {{ Model }} $model **/
    protected $model;

    public function getViewClass()
    {
        return {{ View }}::class;
    }

    public function createModel()
    {
        return new {{ Model }}();
    }
}
