<?php

namespace {{ ns }};

use Rhubarb\Leaf\Views\View;

class {{ class }} extends View
{
    /** @var {{ Model }} $model **/
    protected $model;

    protected function createSubLeaves()
    {
    }

    protected function printViewContent()
    {
    }
}
